.subscribeButton {
  width: 100%;
  max-width: 260px;
  height: 4rem;
  border-radius: 6.25rem;
  border: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--grey-900);
  background: var(--yellow-500);
  transition: filter 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(0.8);
  }
}